.course_tooltip {
  width: 600px;
  top: 0;
  left: 0;
  position: absolute;
  background: #FFFFFF;

  text-align: left;
  color: #333333;

  border: 2px solid #4c4c4c;
  padding: 15px;
  margin: 10px 0px 10px 0px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  visibility: hidden;
  z-index: 999;
}